// place your custom styles here
#navbar{
    background: transparent !important;
    margin: 5px auto;
    width: calc(100% - 20px);
    border-radius: 12px;
    transition: all 0.3s ease;
}

#navbar::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all 0.3s ease;

    /* keep the animated gradient but make it semi-transparent so we can see blur behind it */
    background: linear-gradient(90deg,
        rgba(243,144,147,0.65),
        rgba(255,187,168,0.65),
        rgba(189,163,255,0.65),
        rgba(236,161,215,0.65),
        rgba(243,144,147,0.65),
        rgba(255,187,168,0.65)
    );
    background-size: 500% 200%;
    animation: gradientAnimation 20s linear infinite;

    /* glassy effect */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    /* Setup mask for smooth fade transition */
    -webkit-mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
    -webkit-mask-size: 100% 200%;
    mask-size: 100% 200%;
    -webkit-mask-position: top;
    mask-position: top;
}

[data-theme="dark"] #navbar::before {
    filter: brightness(0.6);
}

html.at-top #navbar {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
}

html.at-top #navbar::before {
    backdrop-filter: none;
    /* Shift mask up to reveal the faded bottom */
    -webkit-mask-position: bottom;
    mask-position: bottom;
}

.hide-navbar .vp-navbar.auto-hide {
    transform: translateY(calc(-100% - 10px)) !important;
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
}

.vp-sidebar{
    box-shadow: none;
    border-right: 1px solid var(--vp-c-border);
}

.toggle-sidebar-wrapper{
    top:calc(50% - 3rem);
    height: 6rem;
    border-radius: 0 12px 12px 0;
    border: 1px solid var(--vp-c-border);
    background-color: var(--sidebar-c-bg);
    opacity: 0.5;
}

.toggle-sidebar-wrapper:hover{
    opacity: 1;
    background-color: var(--sidebar-c-bg);
}

.vp-nav-logo {
    opacity: 0.7;
}

